{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
<div class="container-fluid">
  <div class="row">
    <div class="col-md-6" style="background-color:#C2ABAE;height: 100px">
      <h1 style="line-height: 80px; font-family: 'Lobster', cursive;"> Bienvenue sur mon compte</h1> 
    </div>
    <div class="col-md-6" style="background-color:#C2ABAE;">
      <h2 style="line-height: 50px"> Trouve ta tenue!</h2> 
      <button style="border-radius: 7px"><a style="color:black" href="{{path('defilement')}}">Défilement</a> </button>
      <button style="border-radius: 7px "><a style="color:black"href="{{path('aleatoire')}}">Aléatoire</a> </button>
      <button style="border-radius: 7px "><a style="color:black" href="{{path('classic')}}">Ton Style</a> </button>
    </div>
  </div>

<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link active" data-toggle="tab" href="#home">Home</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" style="color:black" href="#tenue">Mon Dressing</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" style="color:black" href="#">Favoris</a>
  </li>
</ul>

<div id="myTabContent" class="tab-content">
  <div class="tab-pane fade show active" id="home">
    <div class="row">
      <div class="col-md-8" style="">

    
        <style type="text/css"> 
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
.slideshow{
    width: 600px;
    height: 200px;
    overflow: hidden;
    border: 2px solid black;
}
.slideshow ul{
    display:flex;
    width: 100%;
    height: 200px;
    list-style: none;
}
.slideshow ul{
    float: left;
}
</style>
<p>Haut</p>
<div class="slideshow">
    <ul>
        {% for haut in hauts %}
        <li> <img src="http://akia.re/dressingBox/public/uploads/{{haut.photo}}" alt="" style="height : 200px; width: 150px" > </li>
        {% endfor %}
    </ul><!--fin de la div carousel-slide-->
</div>
     <p>Bas</p>  
<div class="slideshow">
    <ul>
        {% for ba in bas %}
        <li> <img src="http://akia.re/dressingBox/public/uploads/{{ba.photo}}" alt="" style="height : 200px; width: 150px" > </li>
        {% endfor %}
    </ul><!--fin de la div carousel-slide-->
</div>
<p>Chaussures</p>
<div class="slideshow">
    <ul>
        {% for chaussure in chaussures %}
        <li> <img src="http://akia.re/dressingBox/public/uploads/{{chaussure.photo}}" alt="" style="height : 200px; width: 150px" > </li>
        {% endfor %}
    </ul><!--fin de la div carousel-slide-->
</div>

      </div> <!-- fin 6 cases-->

     <div class="col-md-4">
       <h2 style="text-align: center; font-family: 'Lobster', cursive;">Ajouter</h2>
        <form action="" method="POST" enctype="multipart/form-data" >
          <label for="categorie">Catégorie :</label>
          <select name="categorie" id="categorie" required>
            <option value="haut">Haut</option>
            <option value="bas">Bas</option>
            <option value="chaussures">Chaussures</option>
          </select><br><br>

          <label for="style">Balance ta photo :</label>
          <input type="file" name="image" id="image" required><br><br>

          <label for="taille"> Taille (facultatif) :</label>
          <select name="taille" id="taille">
              <option value="">--</option>
              <option value="xs">XS</option>
              <option value="s">S</option>
              <option value="m">M</option>
              <option value="l">L</option>
              <option value="xl">XL</option>
              <option value="xxl">XXL</option>
          </select><br><br>

          <label for="marque">Marque (facultatif)</label>
          <input type="text" name="marque" id="marque"><br><br>

          <label for="couleur">Couleur :</label>
            <select name="couleur" id="couleur" required>
              <option value="noir">Noir</option>
              <option value="rouge">Rouge</option>
              <option value="blanc">Blanc</option>
              <option value="bleu">Bleu</option>
              <option value="gris">Gris</option>
              <option value="rose">Rose</option>
              <option value="violet">Violet</option>
              <option value="vert">Vert</option>
              <option value="jaune">Jaune</option>
              <option value="marron">Marron</option>
              <option value="beige">Beige</option>
            </select><br><br>

          <label for="style">Style :</label>
            <select name="style" id="style" required>
              <option value="sportswear">Sportswear</option>
              <option value="classic">Classic</option>
              <option value="chic">Chic</option>
              <option value="cocooning">Cocooning</option>
            </select><br><br>

          <button type="submit">Ajouter</button>
     </form>
  
  
     {% if app.user %}
        <div class="mb-3">
            Vous êtes connecté sur {{ app.user.username }}, <a style="color:black" href="{{ path('app_logout') }}">Vous déconnecter</a>
        </div>
    {% endif %}
    </div><!-- fin div 6-->
    
    </div> <!-- fin de row-->


</div> <!--fin de home -->


  <div class="tab-pane fade" id="tenue">
    
    <h1>Ma Collection !</h1>
    <h3>Hauts</h3>
      {% for haut in hauts %}

        <div style="display: inline-block;">
          <a href="{{path("detail",{'id' : haut.id}) }}"><img src="http://akia.re/dressingBox/public/uploads/{{haut.photo}}" style="height:200px; width: 200px; border: 1px solid black"></a>
          <br>
          <a href="{{path("delete",{'id': haut.id}) }}">Supprimer </a>
        </div>
        {% endfor %}


    <h3>Bas</h3>
      {% for ba in bas %}
       <div style="display: inline-block;">
          <a href="{{path("detail",{'id' : ba.id}) }}"><img src="http://akia.re/dressingBox/public/uploads/{{ba.photo}}" style="height:200px; width: 200px; border: 1px solid black"></a>
          <br>
          <a href="{{path("delete",{'id': ba.id}) }}">Supprimer </a>
        </div>
      {% endfor %}

    <h3>Chaussures</h3>
      {% for chaussure in chaussures %}
        <div style="display: inline-block;">
          <a href="{{path("detail",{'id' : chaussure.id}) }}"><img src="http://akia.re/dressingBox/public/uploads/{{chaussure.photo}}" style="height:200px; width: 200px; border: 1px solid black"></a>
          <br>
          <a href="{{path("delete",{'id': chaussure.id}) }}">Supprimer </a>
      </div>
    {% endfor %}
 </div> <!-- fin de defilement -->
</div><!-- fin de tenue-->
</div>

{% endblock %}