{% extends 'base.html.twig' %}

{% block body %}

<div class="row">
<div class="col-md-6">
<img src="images/{{ vetement.photo }}">
</div>

<div class="col-md-6">
<h2>catégorie : {{vetement.categorie}}</h2>
<h2>couleur : {{vetement.couleur}}</h2>
<h2>taille : {{vetement.taille}}</h2>
<h2>marque : {{vetement.marque}}</h2>
<h2>style : {{vetement.style}}</h2>
<a href="{{path('dressing')}}"> retour au dressing </a>
</div>
</div>
{% endblock %}