{% extends 'base.html.twig' %}

{% block body %}

<div class="row" style="height: 92vh">
<div class="col-md-6">
<img src="http://akia.re/dressingBox/public/uploads/{{ vetement.photo }}" style="height: 50vh">

</div>

<div class="col-md-6">
<h2>Catégorie : {{vetement.categorie}}</h2>
<h2>Couleur : {{vetement.couleur}}</h2>
<h2>Taille : {{vetement.taille}}</h2>
<h2>Marque : {{vetement.marque}}</h2>
<h2>Style : {{vetement.style}}</h2>
<a href="{{path('dressing')}}"> Retour au dressing </a>
</div>
</div>
{% endblock %}