{% extends 'base.html.twig' %}



{% block body %}
<div class="row">
  <div class="col-md-2" style=" ; background-color: white; border: 1px solid #b4a696">
    <img src="images/logo_burned.png" alt="" style="width:100%;margin-top : 20px "></div>
  <div style="background-color:black;height: 100px" class="col-md-4" ></div>
  <div class="col-md-6 " style="background-color:black;">
    <h2 style="color: white; line-height: 50px; font-family: 'Lobster', cursive"> Trouve ta tenue!</h2> 
      <button style="border-radius: 7px"><a style="color: black" href="{{path('defilement')}}">Défilement</a> </button>
      <button style="border-radius: 7px "><a style="color: black" href="{{path('aleatoire')}}">Aléatoire</a> </button>
      <button style="border-radius: 7px "><a style="color: black" href="{{path('dressing')}}">Dressing</a> </button>
  </div>
</div>
  
  <div class="container-md" style="background:#E6CBB3; height: 90vh">

  <div style="height:2vh"></div>

  <div style="" >
    <a href="{{path('sportwear')}}"><button type="button" class="btn btn-secondary" style="margin-left: 75px;background-color:black ;width: 200px" id="sportwear">Sportswear</button></a>
    <a href="{{path('classic')}}"><button type="button" class="btn btn-secondary" style="margin-left: 75px;background-color:black ;width: 200px" id="classic">Classic</button></a>
    <a href="{{path('sportwear')}}"><button type="button" class="btn btn-secondary" style="margin-left: 75px;background-color:black ;width: 200px" id="sportwear">Chic</button></a>
    <a href="{{path('classic')}}"><button type="button" class="btn btn-secondary" style="margin-left: 75px;background-color:black ;width: 200px" id="classic">Cocooning</button></a>
  </div>

  <div style="height:2vh"></div>

  <div style="margin:auto; width: 10.4% " >

    {% for haut in hauts  %}
      <img src="uploads/{{haut.photo}}"  style="height : 200px; width: 200px; border: 1px solid black" class="haut">
    {% endfor %}

    {% for  ba in bas %}
    <img src="uploads/{{ba.photo}}" alt="" style="height :200px; width : 200px; border: 1px solid black" class="bas" > 
    {% endfor %}


    {% for  chaussure in chaussures %}
    <img src="uploads/{{chaussure.photo}}" alt="" style="height :200px; width : 200px; border: 1px solid black" class="chaussures" > 
    {% endfor %}
    
    <div style="height:2vh"></div>

    <div style="width: 10.4%">
    <button  style="width: 20vh; background-color:black" type="button" class="btn btn-secondary"  id="boutonMix">Mix</button>
    </div>

    <div style="height:2vh" ></div>

    </div>
    </div>
  {% endblock %}


  {% block javascripts %}
  <script src="aleatoire.js"></script>  
  {% endblock %}