{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
<header >

<div class="row" style>
 

<div class="col-md-2" style=" ; background-color: white; border: 1px solid #b4a696">
<img src="http://akia.re/dressingBox/public\images\logo_burned.png" alt="" style="width:100%;margin-top : 20px ">  
</div> <!-- les 6 premières cases de la ligne-->

<div class="col-md-4" style="background-color: #C2ABAE"></div>
<div class="col-md-2" style="background-color: #C2ABAE" ><!-- les 2 suivants-->
    <form method="post">
        {% if error %}
            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

    


        <label style="color:#181616" for="inputEmail">Email</label>
        <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" required autofocus style="width:300px; border:#645D5E">
</div> <!-- ferme les 2 cases -->

<div class="col-md-2" style="background-color: #C2ABAE"><!-- les 2 suivants-->
    <label style="color:#181616" for="inputPassword">Password</label>
    <input type="password" name="password" id="inputPassword" class="form-control" required style="width:300px; border:#645D5E">
</div> <!-- ferme les 2 cases -->
   
    <input type="hidden" name="_csrf_token"
           value="{{ csrf_token('authenticate') }}">

    {#
        Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
        See https://symfony.com/doc/current/security/remember_me.html

        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" name="_remember_me"> Remember me
            </label>
        </div>
    #}



<div class="col-md-2" style="background-color: #C2ABAE"><!-- les 2 suivants--> 

    <div class="col-md-2" style="margin-top: 25px">
        <button class="btn btn-lg btn-primary" type="submit" style="height : 40px; line-height : 20px; background-color: #645D5E; border: 1px solid #645D5E">
            connexion
        </button>
    </div>


    <div>
        <a href="{{path('app_forgotten_password')}}" style="color:#645D5E"> mot de passe oublié? </a>
    </div>
</div>
    </form>
</div> <!-- ferme la div row--> 
</nav>
</header>



</div>

<div style = "background-image:url('http://akia.re/dressingBox/public/images/795910.jpg'); height:88vh; width:100% ; background-size:cover" >
{% if app.user %}
        
           
            <p class = "text-right">vous êtes connecté sur {{ app.user.username }}, <a style="color:#181616"    href="{{ path('app_logout') }}">vous deconnecter</a></p>
        </div>
    {% else %}


    <h3 style="color:#181616">Tu n'es pas encore inscrit ?!</h3>
    <a  style="color:black"href="{{ path('app_register') }}">S'inscrire</a>




{% endif %}

</div>

</div>


{% endblock %}
