{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
<header style="background-color: #C2ABAE">

<div class="row">
 

<div class="col-md-6" style=" margin-top : 30px">
<H1>DRESSING BOX</H1>   
</div> <!-- les 6 premières cases de la ligne-->


<div class="col-md-2" ><!-- les 2 suivants-->
    <form method="post">
        {% if error %}
            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

    


        <label for="inputEmail">Email</label>
        <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" required autofocus style="width:300px; border:#645D5E">
</div> <!-- ferme les 2 cases -->

<div class="col-md-2" ><!-- les 2 suivants-->
    <label for="inputPassword">Password</label>
    <input type="password" name="password" id="inputPassword" class="form-control" required style="width:300px; border:#645D5E">
</div> <!-- ferme les 2 cases -->
   
    <input type="hidden" name="_csrf_token"
           value="{{ csrf_token('authenticate') }}">

    {#
        Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
        See https://symfony.com/doc/current/security/remember_me.html

        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" name="_remember_me"> Remember me
            </label>
        </div>
    #}



<div class="col-md-2"><!-- les 2 suivants--> 

    <div class="col-md-2" style="margin-top: 25px">
        <button class="btn btn-lg btn-primary" type="submit" style="height : 40px; line-height : 20px; background-color: #645D5E; border: 1px solid #645D5E">
            connexion
        </button>
    </div>


    <div>
        <a href="{{path('app_forgotten_password')}}" style="color:#645D5E"> mot de passe oublié? </a>
    </div>
</div>
    </form>
</div> <!-- ferme la div row--> 
</nav>
</header>

<div class="row">
<div class="col-md-6"; style="background-color: ">
<img src="images/totoro.jpg" alt="" style="height:300px; margin-left: 200px"><br>
<img src="images/plus2.jpg" alt="" style="height:50px; margin-left: 330px " ><br>
<img src="images/jean2.jpg" alt="" style="height:300px; margin-left: 250px"><br>
<img src="images/plus2.jpg" alt="" style="height:50px; margin-left: 330px "><br>
<img src="images/top-ten.gif" alt="" style="height:100px; margin-left: 300px"><br>

</div>

<div class="md-6">
{% if app.user %}
        
        <h2 style="font-family: 'Ibarra Real Nova', serif; text-align: center;">Choisi ton style!</h2>

        <p>rien de plus simple, <br>
        - 1 haut + <br>
        - 1 bas + <br>
        - 1 paire de chaussure</p>
        <img src="images/dressing.jpg" alt="" style="height :598px; widht : 899px " >

            <div class="mb-3">
            <p class = "text-right">vous êtes connecté sur {{ app.user.username }}, <a href="{{ path('app_logout') }}">vous deconnecter</a></p>
        </div>
    {% else %}

 
        <h2 style="font-family: 'Ibarra Real Nova', serif; text-align: center;">Choisi ton style!</h2>

        <p>Compose ta tenue en quelques clics</p>
        <img src="images/dressing.jpg" alt="" style="height :598px; widht : 899px " >

        <h3>Tu n'es pas encore inscrit ?!</h3>
        <a  href="{{ path('app_register') }}">S'inscrire</a>




{% endif %}

</div>

</div>


{% endblock %}
